.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.messages {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #4cae4c;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


        /* Стили для мобильных устройств */
        @media (max-width: 767px) {
            body {
                
                font-size: 16px;
            }
            .container {
                padding: 10px;
            }
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 20px;
            }
            table {
                font-size: 14px;
            }
            input, button {
                font-size: 16px;
            }
        }
        
        /* Стили для десктопных устройств */
        @media (min-width: 768px) {
            body {
                font-size: 18px;
            }
            .container {
                padding: 20px;
            }
            h1 {
                font-size: 36px;
            }
            h2 {
                font-size: 24px;
            }
            table {
                font-size: 16px;
            }
            input, button {
                font-size: 18px;
            }
        }
        
        /* Общие стили */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 100%;
            margin: 0 auto;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav a {
            color: #000000;
            text-decoration: none;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }



        .register-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        
        h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }
    
        .messages {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
            color: red;
        }
    
        .register-form {
            display: flex;
            flex-direction: column;
        }
    
        .register-form input {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
    
        .register-form button {
            padding: 10px;
            background-color: #5cb85c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    
        .register-form button:hover {
            background-color: #4cae4c;
        }
    
        .login-link {
            margin-top: 20px;
            font-size: 14px;
        }
    
        .login-link a {
            color: #007bff;
            text-decoration: none;
        }
    
        .login-link a:hover {
            text-decoration: underline;
        }


        .dashboard-container {
            margin: 50px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    
        h1 {
            margin-bottom: 20px;
            font-size: 28px;
            color: #333;
        }
    
        .add-room-button {
            display: inline-block;
            padding: 10px 20px;
            margin-bottom: 20px;
            background-color: #5cb85c;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
        }
    
        .add-room-button:hover {
            background-color: #4cae4c;
        }
    
        .rooms-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    
        .room-card {
            background: #f8f8f8;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition: transform 0.2s;
        }
    
        .room-card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }
    
        .room-link {
            text-decoration: none;
            color: #333;
            font-size: 18px;
        }
    
        .logout-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #d9534f;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
        }
    
        .logout-button:hover {
            background-color: #c9302c;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .card {
            border: 1px solid #ddd;
            padding: 16px;
            margin: 20px 0;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        @media print {
            .no-print {
                display: none;
            }
        }

        .add-item-button, .back-button {
            display: inline-block;
            margin: 10px 0;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .add-item-button:hover, .back-button:hover {
            background-color: #0056b3;
        }

        .print-button {
            padding: 10px 15px;
            background-color: #5cb85c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .print-button:hover {
            background-color: #4cae4c;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
            background-color: #f9f9f9;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .approval {
            margin-top: 20px;
            font-weight: bold;
            text-align: right; /* Выравнивание по правому краю */
        }

        @media (max-width: 767px) {
            h1 {
                font-size: 24px;
            }

            h2 {
                font-size: 20px;
            }

            h3 {
                font-size: 18px;
            }

            .print-button, .add-item-button, .back-button {
                width: 100%;
                box-sizing: border-box;
            }
        }


        .add-room-form {
            display: flex;
            flex-direction: column;
        }

        .add-room-form label {
            text-align: left;
            margin-bottom: 5px;
        }

        .add-room-form input {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .add-room-form button {
            padding: 10px;
            background-color: #5cb85c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .add-room-form button:hover {
            background-color: #4cae4c;
        }

        .back-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .back-button:hover {
            background-color: #0056b3;
        }

        .add-item-form {
            display: flex;
            flex-direction: column;
        }

        .add-item-form label {
            text-align: left;
            margin-bottom: 5px;
        }

        .add-item-form input {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .add-item-form select {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .add-item-form button {
            padding: 10px;
            background-color: #5cb85c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .add-item-form button:hover {
            background-color: #4cae4c;
        }

        .back-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .back-button:hover {
            background-color: #0056b3;
        }


        input[type="file"] {
            margin: 10px 0;
        }
        
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
        }
        
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
        
        li {
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        a {
            text-decoration: none;
            color: #007BFF;
        }
        
        a:hover {
            text-decoration: underline;
        }
        .success {
            color: green;
        }
        
        .error {
            color: red;
        }


        @media print {
            .no-print {
                display: none; /* Скрыть элементы с классом no-print при печати */
            }
            .delete-button {
                display: none; /* Скрыть кнопку удаления при печати */
            }
            .print-header {
                text-align: center;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }


        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        nav ul li {
            position: relative;
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        nav ul li:hover > ul {
            display: block;
        }

        nav ul li ul {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: white;
            border: 0px solid #ccc;
            border-radius: 5px;
            z-index: 1000;
        }

        nav ul li ul li {
            width: 200px; /* Set width for dropdown items */
        }