<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/css/style.css'>
    <title>{% block title %}{% endblock %} - Инвентаризация кабинетов</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><strong>Общие</strong>
                    <ul>
                        {% if session.username %}
                        <li><a href="{{ url_for('logout') }}">Выход из системы</a></li>
                        <li><a href="{{ url_for('index') }}">Кабинеты</a></li>
                        <li><a href="{{ url_for('wrofflist') }}">Имущество на списание</a></li>

                    {% else %}
                        <li><a href="{{ url_for('login') }}">Вход</a></li>
                        <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                    {% endif %}
                    </ul>
                </li>
                <li><strong>Документация</strong>
                    <ul>
                        {% if session.username %}
                        <li><a href="{{ url_for('documents') }}">Документы</a></li>
                        <li><a href="{{ url_for('allin') }}">Общая ведомость имущества</a></li>
                    {% else %}
                    {% endif %}
                    </ul>
                </li>
                <li><strong>Операции</strong>
                    <ul>
                        {% if session.username %}
                        <li><a href="{{ url_for('act') }}">Создать акт передвижки</a></li>
                        <li><a href="{{ url_for('write_off') }}">Создать акт списания</a></li>
                    {% else %}
                    {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="user-info">
            {% if session.username %}
                <span>Добро пожаловать, {{ session.username }}!</span>
                <a href="{{ url_for('logout') }}">Выйти</a>
            {% else %}
                <span>Вы не вошли в систему</span>
            {% endif %}
        </div>
    </header>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        &copy; 2024 АИС "Инвентаризация кабинетов." Полная Версия. Все права защищены.
    </footer>
</body>
</html>